/*
  © 2020 Intel Corporation

  This software and the related documents are Intel copyrighted materials, and
  your use of them is governed by the express license under which they were
  provided to you ("License"). Unless the License provides otherwise, you may
  not use, modify, copy, publish, distribute, disclose or transmit this software
  or the related documents without Intel's prior written permission.

  This software and the related documents are provided as is, with no express or
  implied warranties, other than those that are expressly stated in the License.
*/

/*
 *
 *  Manual Stylesheet for HTML documentation
 *
 */
:root {
        --classic-blue: #0068b5;
        --classic-blue-tint1: #00a3f6;
        --classic-blue-tint2: #76ceff;
        --classic-blue-shade1: #004a86; /* bg approved */
        --classic-blue-shade2: #00285a; /* bg approved */
        --energy-blue: #00c7fd;
        --energy-blue-tint1: #7bdeff;
        --energy-blue-tint2: #b4f0ff;
        --energy-blue-shade1: #0095ca;
        --energy-blue-shade2: #005b85; /* bg approved */
        --carbon: #808080;
        --carbon-tint1: #aeaeae;
        --carbon-tint2: #e9e9e9; /* bg approved */
        --carbon-shade1: #525252; /* bg approved */
        --carbon-shade2: #262626; /* bg approved */
        --blue-steel: #548fad;
        --blue-steel-tint1: #86b3ca;
        --blue-steel-tint2: #b9d6e5;
        --blue-steel-shade1: #41728a;
        --blue-steel-shade2: #183544; /* bg approved */
        --geode: #8f5da2;
        --geode-tint1: #cc94da;
        --geode-tint2: #eec3f7;
        --geode-shade1: #653171;
        --rust: #e96115;
        --rust-tint1: #ff8f51;
        --rust-tint2: #ffc599;
        --rust-shard1: #b24501;
        --moss: #8bae46;
        --moss-tint1: #b1d272;
        --moss-tint2: #d7f3a2;
        --moss-shade1: #708541;
        --moss-shade2: #515a3d;
        --cobalt: #1e2eb8;
        --cobalt-tint1: #5b69ff;
        --cobalt-tint2: #98a1ff;
        --cobalt-shade1: #000f8a; /* bg approved */
        --cobalt-shade2: #000864; /* bg approved */
        --coral: #ff5662;
        --coral-tint1: #ff848a;
        --coral-tint2: #ffb6b9;
        --coral-shade1: #c81326;
        --daisy: #fec91b;
        --daisy-tint1: #ffe17a;
        --daisy-shade1: #edb200;
        --daisy-shade2: #c98f00;

        --primary: var(--classic-blue);
        --hover: var(--classic-blue-shade1);
        --secondary: var(--carbon);
        --code: var(--coral-shade1);
        --box-back: var(--carbon-tint2);

        color: black;
        font-family: "Intel Clear", sans-serif;
        line-height: 1.5;
        
        min-height: 100vh;
}

body {
        position: relative;
        padding: 3rem 1rem;
        margin: 0rem auto;
        max-width: 50em;
}

img {
        max-width: 100%;
}

a[href] {
        color: var(--primary);
        text-decoration: none;
}

a[href]:hover {
        color: var(--hover);
        text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, dt.jdocu_di_name {
        font-family: "Intel Clear Light", sans-serif;
        color: var(--primary);
}

h1 {
        font-size: 3rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
}

h2, dt.jdocu_di_name {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
}

h3 {
        margin-top: 1rem;
        margin-bottom: -0.5rem;
        font-size: 1.5rem;
        font-weight: normal;
        font-style: normal;
}

h4 {
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-size: 1rem;
        font-weight: bold;
        font-style: normal;
}

h5 {
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
}

h6 {
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-size: 1rem;
        font-weight: normal;
        font-style: italic;
}

code, tt {
        color: var(--code);
        border-radius: 0.2rem;
        font-family: monospace;
        font-size: 16px;
}

a code, a tt, a pre {
        color: var(--primary);
}

pre {
        color: var(--code);
        background-color: var(--box-back);
        padding: 1rem 1rem;
        font-size: 16px;
        overflow-x: auto;
}

pre code {
        padding: 0;
}

dl > dt { font-weight: bold; }
ul {
        padding-inline-start: 2em;
}
.dl > ul .term {
        font-weight: bold;
        margin-left: -2em;
}
.dl > ul {
        list-style-type: none;
}

div.figure, figure {
        margin: 2rem 0rem;
}

div.figure .caption, figcaption {
        text-align: center;
}

div.note {
        margin: 0.5rem 0rem;
        border: 0;
        border-left: 0.2rem solid var(--primary);
        padding: 0.5rem 0.8rem 0.5rem 1rem;
        background-color: var(--box-back);
}

div.path {
        margin-top: 1rem;
        font-family: "Intel Clear Light", sans-serif;
}

div.chain {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
}
div.chain:nth-of-type(1) {
        top: 0;
}
div.chain:nth-last-of-type(1) {
        bottom: 0;
}
div.chain a[href] {
        border: 1px solid var(--primary);
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;
}
div.chain a[href].previous:before {
        content: "⮜ ";
}
div.chain a[href].next:after {
        content: " ⮞";
}

/* 
 * head elements 
 */
.jdocu_doccat {
        display: none;
}
table.jdocu_title {
        margin-right: auto;
        margin-left: auto;
}
td.jdocu_title {
        padding-left: 1rem;
        padding-right: 1rem;
}
.jdocu_confidential {
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
}
.simics_copyright { 
        margin: 5ex 4em 5ex 4em;
        border: solid black 1px;
        padding: 0.5ex 1em 0.5ex 1em;
        font-family: monospace; 
        font-size: 80%;
}


/*
 * Tables
 */

/* definition for table cells (td) */
table {
        border-spacing: 0px;
        border-collapse: collapse;
        padding: 0.2ex 0.4ex 0.2ex 0.4ex;
        margin: 1em 0;
        border: none;
}
td, th {
        padding: 0 1ex;
        border: 1px solid var(--carbon-tint1);
        vertical-align: baseline;
}
tbody tr:nth-child(odd) {
        background-color: var(--carbon-tint2);
}
table.border {
        border: solid black 1px;
        padding: 0.2ex 0.4ex 0.2ex 0.4ex;
        margin: 0ex;
}

dt.jdocu_descitem {
        text-transform: uppercase;
        margin-top: 1rem;
}